<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cwgbasicexercise.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cwgbasicexercise.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cwgbasicexercise</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cwgbasicexercise</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Cwg_Exercise.Data.Context.BankDb" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Cwg_Exercise.Data.Context.BankDb, Cwg_Exercise" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:cwgbasicexercisedbserver.database.windows.net,1433;Initial Catalog=CwgBasicExerciseDB;Persist Security Info=False;User ID=CwgBasicExerciseServerAdmin;Password=@ABCde12345;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:cwgbasicexercisedbserver.database.windows.net,1433;Initial Catalog=CwgBasicExerciseDB;Persist Security Info=False;User ID=CwgBasicExerciseServerAdmin;Password=@ABCde12345;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Cwg_Exercise.Models.ApplicationDbContext, Cwg_Exercise" MigrationConfiguration="Cwg_Exercise.Migrations.Configuration, Cwg_Exercise" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Cwg_Exercise.Data.Context.BankDb-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:cwgbasicexercisedbserver.database.windows.net,1433;Initial Catalog=CwgBasicExerciseDB;Persist Security Info=False;User ID=CwgBasicExerciseServerAdmin;Password=@ABCde12345;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>